.website-icon:hover {
    background-color: #212529;
    color: white;
    transition-duration: 750ms;
}

.container-1-image {
    background: url(https://placehold.jp/1860x500.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    height: 30rem;
}

.container-1-h1 {
    font-size: 5rem;
}

.book-container {
    background-color: rgb(14,52,90);
}

.book-launch-text-column {
    padding-top: 8rem;
    padding-bottom:8rem;
    padding-left: 10rem;
}

.book-launch-text-column button {
    border-width: .2rem;
}

.place-holder-image-1 {
    width: 30rem;
    height: 35rem;
    max-width: 100%;
    height: auto;
}

