:root {
  --primary-color: rgb(14, 52, 90);
  --secondary-color: rgb(245, 245, 245);
  --on-primary: rgba(14, 52, 90, 0.7);
}

html {
  scroll-behavior: smooth !important;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.section-title {
  color: var(--primary-color);
  text-align: center;
  padding: 0 0 1rem;
}

/* Navigation Bar */
.navbar-spacing {
  margin: 0 5rem;
}

.website-icon-upper {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  padding: 0em 1.2rem;
}

.website-icon-lower {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.2rem;
}

.website-icon-lower:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-duration: 600ms;
}

.navbuttons {
  color: var(--primary-color);
  padding: 1rem;
}

.navbuttons:hover {
  color: var(--on-primary);
}

/* Footer */

.footer-background-color {
  background-color: var(--primary-color);
}

.footer-submit-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.3rem 4.2rem;
  border: 0;
}

.footer-submit-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-duration: 600ms;
}

/* Homepage */

.container-1-image {
  background: url(https://placehold.jp/1860x500.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  overflow: hidden;
  height: 30rem;
  padding: 0 0 0 5.5rem;
}

.container-1-text {
  font-size: 5rem;
  margin: 0;
}

.book-container {
  background: var(--primary-color);
  padding: 4rem;
}

.bookstore-books {
  border: 1rem solid var(--secondary-color);
}

.bookstore-books {
  border: 1rem solid var(--secondary-color);
}

.our-story-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  padding: 0.3rem 1rem;
}

.our-story-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition-duration: 600ms;
}

.book-launch-text-column {
  padding: 8rem 0 8rem 10rem;
  color: var(--primary-color);
}

.rsvp-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  padding: 0.5rem 2.5rem;
}

.rsvp-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-duration: 600ms;
}

.place-holder-image-1 {
  width: 30rem;
  height: 35rem;
  max-width: 100%;
  height: auto;
}

.book-launch-image {
  border: 0.9rem solid var(--primary-color);
}
/* Bookstore */

.bookstore-dropdown-button {
  background-color: transparent;
  color: var(--primary-color);
}

.bookstore-dropdown-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-duration: 750ms;
}

/* About Us */

.about-us-container {
  background-color: rgb(235, 235, 235);
  height: 50rem;
  margin: 2rem 0 7rem 0;
  position: relative;
}

#about-us-image {
  height: 55rem;
  width: 55rem;
  overflow: hidden;
  margin: -2rem 0 0 17rem;
  position: absolute;
  z-index: 1;
}

#about-us-div-1 {
  height: auto;
  width: 25rem;
  padding: 3rem 3rem 8rem 3rem;
  margin: 11rem 0 0 12rem;
  position: absolute;
  z-index: 2;
  background-color: var(--secondary-color);
  border: 1rem solid var(--primary-color);
}

#about-us-div-2 {
  height: auto;
  width: 25rem;
  padding: 3rem 3rem 9rem 3rem;
  margin: 22rem 0 0 42rem;
  position: absolute;
  z-index: 3;
  background-color: var(--secondary-color);
  border: 1rem solid var(--primary-color);
}

.list-item-spacing {
  margin: 0 0 0 3.5rem;
}

@media (max-width: 978px) {
  .navbar-spacing {
    margin: 0.5rem;
  }

  .container-1-image {
    height: 20rem;
    padding: 0 0 0 1rem;
  }

  .container-1-text {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  .book-launch-text-column {
    padding: 1.5rem;
    color: var(--primary-color);
  }

  .about-us-container {
    background-color: rgb(235, 235, 235);
    height: 40rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  #about-us-image {
    display: none;
  }

  #about-us-div-1 {
    height: auto;
    width: auto;
    padding: 1rem;
    margin: 0;
  }

  #about-us-div-2 {
    height: auto;
    width: auto;
    padding: 1rem;
    margin: 20rem 0 0 0;
  }

  .list-item-spacing {
    margin: 0 0 0 3.5rem;
  }
}

/* Contact */

.contact-container {
  background-color: rgb(235, 235, 235);
  height: 50rem;
  margin: 2rem 0 7rem 0;
  position: relative;
}

#contact-form-container {
  height: 45rem;
  width: 60rem;
  margin: -2rem 0 0 10rem;
  padding: 4rem;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1rem solid var(--primary-color);
}

#contact-form {
  margin-top: 2.5rem;
}

#message {
  height: 8rem;
}

#contact-form-button {
  background-color: white;
  color: var(--primary-color);
  border: none;
  margin: none;
}
